apiVersion: apps/v1
kind: Deployment
metadata:
  name: nfs-client-provisioner
  labels:
    app: nfs-client-provisioner
  # replace with namespace where provisioner is deployed
  namespace: nfs
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nfs-client-provisioner
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: quay.io/gchavezt/nfs-subdir-external-provisioner:v4.0.2
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes   # path del contenedor
          env:
            - name: PROVISIONER_NAME
              value: nfs-storage      # nombre del provisioner en el deployment, asi es como lo llamara el storageclass
            - name: NFS_SERVER
              value: 54.91.64.26      # Revisar la IP del nfs
            - name: NFS_PATH
              value: /var/nfsshare    # Revisar el path del nfs
      volumes:
        - name: nfs-client-root
          nfs:
            server: 54.91.64.26       # Revisar la IP del nfs
            path: /var/nfsshare       # Revisar el path del nfs